.search-form__content {
  margin: 0 auto;
  padding: 60px 15px;
  max-width: 1230px;
}

.search-form__content-title {
  text-align: center;
}

.search-form__item {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.search-form__item-select {
  padding: 10px;
  width: 300px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 3px;
  appearance: none;
}

.search-form__item-btn {
  padding: 10px;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 3px;
  background: #000;
  color: #fff;
  cursor: pointer;
}
